# PyCity Schools Analysis

- Your analysis here

---

In [29]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load (Remember to Change These)
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.
school_data_complete = pd.merge(student_data, school_data, how="left", on="school_name")
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

In [30]:
# Calculate the total number of unique schools
school_count = len(school_data_complete ["school_name"].unique())
school_count

15

In [31]:
# Calculate the total number of students
studentCount = school_data_complete["Student ID"].count()
print(studentCount)

39170

In [32]:
# Calculate the total budget"budg
total_budget = school_data ["budget"].sum()

print(total_budget)

24649428

In [33]:
# Calculate the average (mean) math score
average_math_score = school_data_complete["math_score"].mean()
print(average_math_score)

78.98537145774827

In [34]:
# Calculate the average (mean) reading score
average_reading_score = school_data_complete["reading_score"].mean()
print(average_reading_score)

81.87784018381414

In [35]:
passMath_students = school_data_complete[school_data_complete["math_score"]>=70]
#passMath_students.head()
numPassMath = len(passMath_students)
numPassMath

29370

In [36]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
percentagePassedMath = (numPassMath / studentCount) * 100
print(percentagePassedMath)

74.9808526933878

In [37]:
passReadingStudents = school_data_complete[school_data_complete["reading_score"] >=70]
passReadingStudents.head()
numPassReading = len(passReadingStudents)
numPassReading

33610

In [38]:
# Calculate the percentagof students who passed reading (hint: look at how the math percentage was calculated)
passing_reading_percentage = (numPassReading / studentCount) * 100
print(passing_reading_percentage)

85.80546336482001

In [39]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(studentCount) * 100
print(overall_passing_rate)

65.17232575950983

In [40]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = pd.DataFrame(
    { 
        "Total Schools": [school_count],
        "Total Students": [studentCount], 
        "Total Budget": [total_budget],
        "Average Math Score": [average_math_score],
        "Average Reading Score": [average_reading_score],
        "% Passing Math": [percentagePassedMath],
        "% Passing Reading": [passing_reading_percentage],
        "% Overall Passing": [overall_passing_rate]
        
    }

    )        
# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

In [41]:
school_data

    School ID            school_name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

In [42]:
# Calculate the total student count per school from school_data
per_school_counts = school_data_complete["school_name"].value_counts()
per_school_counts

school_name
Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: count, dtype: int64

In [43]:
school_types = school_data.set_index(["school_name"])
#["type"]
school_types

                       School ID      type  size   budget
school_name
Huang High School              0  District  2917  1910635
Figueroa High School           1  District  2949  1884411
Shelton High School            2   Charter  1761  1056600
Hernandez High School          3  District  4635  3022020
Griffin High School            4   Charter  1468   917500
Wilson High School             5   Charter  2283  1319574
Cabrera High School            6   Charter  1858  1081356
Bailey High School             7  District  4976  3124928
Holden High School             8   Charter   427   248087
Pena High School               9   Charter   962   585858
Wright High School            10   Charter  1800  1049400
Rodriguez High School         11  District  3999  2547363
Johnson High School           12  District  4761  3094650
Ford High School              13  District  2739  1763916
Thomas High School            14   Charter  1635  1043130

In [44]:
# Use the code provided to select the type per school from school_data
school_types1 = school_types["type"]
school_types1

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [45]:
perSchoolCounts = school_data_complete["school_name"].value_counts()
perSchoolCounts

school_name
Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: count, dtype: int64

In [46]:
groupedSchoolDF = school_data_complete.groupby("school_name")
perSchoolBudget = groupedSchoolDF.mean("budget")
perSchoolBudget = perSchoolBudget["budget"]
perSchoolBudget

school_name
Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0
Name: budget, dtype: float64

In [47]:
# Calculate the total school budget and per capita spending per school from school_data
perSchoolCapita = perSchoolBudget / per_school_counts
perSchoolCapita

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [48]:
#Average test scores for Math
groupedSchoolDF = school_data_complete.groupby("school_name")
avgMathScoreDF = groupedSchoolDF.mean("math_score")
perSchoolMathScores= avgMathScoreDF["math_score"]
perSchoolMathScores

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [49]:
#Average test scores for Reading
groupedSchoolDF = school_data_complete.groupby("school_name")
avgReadingScoreDF = groupedSchoolDF.mean("reading_score")
perSchoolReadingScores= avgReadingScoreDF["reading_score"]
perSchoolReadingScores

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [50]:
# Calculate the number of students per school with math scores of 70 or higher from school_data_complete
schoolPassingMathDF = school_data_complete[school_data_complete["math_score"] >= 70]
schoolPassingMathDF

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [59]:
schoolPassingDF = school_data_complete[(school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] > 70)]
schoolPassingDF

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [51]:
# Calculate the number of students per school with reading scores of 70 or higher from school_data_complete
schoolPassingReadingDF = school_data_complete[school_data_complete["reading_score"] >= 70]
schoolPassingReadingDF

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [61]:
perSchoolPassingMathDF = schoolPassingMathDF.groupby("school_name")
perSchoolPassingMath = perSchoolPassingMathDF["student_name"].count()
perSchoolPassingMath

school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
Name: student_name, dtype: int64

In [62]:
perSchoolPassingReadingDF = schoolPassingReadingDF.groupby("school_name")
perSchoolPassingReading = perSchoolPassingReadingDF["student_name"].count()
perSchoolPassingReading

school_name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
Name: student_name, dtype: int64

In [63]:
perSchoolPassingDF = schoolPassingDF.groupby("school_name")
perSchoolPassing = perSchoolPassingDF["student_name"].count()
perSchoolPassing

school_name
Bailey High School       2633
Cabrera High School      1639
Figueroa High School     1522
Ford High School         1456
Griffin High School      1280
Hernandez High School    2401
Holden High School        367
Huang High School        1512
Johnson High School      2455
Pena High School          841
Rodriguez High School    2048
Shelton High School      1527
Thomas High School       1424
Wilson High School       1999
Wright High School       1571
Name: student_name, dtype: int64

In [66]:
# Use the provided code to calculate the passing rates
perSchoolPassingMathPCT = (perSchoolPassingMath/perSchoolCounts) * 100
perSchoolPassingReadingPCT = (perSchoolPassingReading/perSchoolCounts) * 100
perSchoolPassingPCT = (perSchoolPassing/perSchoolCounts) * 100
perSchoolPassingPCT

school_name
Bailey High School       52.913987
Cabrera High School      88.213132
Figueroa High School     51.610715
Ford High School         53.158087
Griffin High School      87.193460
Hernandez High School    51.801510
Holden High School       85.948478
Huang High School        51.834076
Johnson High School      51.564797
Pena High School         87.422037
Rodriguez High School    51.212803
Shelton High School      86.712095
Thomas High School       87.094801
Wilson High School       87.560228
Wright High School       87.277778
dtype: float64

In [58]:
# Use the provided code to calculate the passing rates
per_school_passing_math = (per_school_passing_math / per_school_counts) * 100
per_school_passing_reading = (per_school_passing_reading / per_school_counts) * 100
overall_passing_rate = (school_students_passing_math_and_reading / per_school_counts) * 100
overall_passing_rate

NameError: name 'per_school_passing_math' is not defined

In [52]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)
]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()
school_students_passing_math_and_reading

school_name
Bailey High School       2719
Cabrera High School      1697
Figueroa High School     1569
Ford High School         1487
Griffin High School      1330
Hernandez High School    2481
Holden High School        381
Huang High School        1561
Johnson High School      2549
Pena High School          871
Rodriguez High School    2119
Shelton High School      1583
Thomas High School       1487
Wilson High School       2068
Wright High School       1626
dtype: int64

In [68]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
per_school_summary = pd.DataFrame(
    {
        "School Type": school_types1,
        "Total Students": per_school_counts,
        "Total School Budget": perSchoolBudget,
        "Per Student Budget": perSchoolCapita,
        "Average Math Score": perSchoolMathScores,
        "Average Reading Score": perSchoolReadingScores,
        "% Passing Math": perSchoolPassingMathPCT,
        "% Passing Reading": perSchoolPassingReadingPCT,
        "% Overall Passing":perSchoolPassingPCT
        
    }
)
# Formatting
per_school_summary["Total Students"] = per_school_summary["Total Students"].map("{:,}".format)
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)
per_school_summary["Average Math Score"] = per_school_summary["Average Math Score"].map("{:.2f}".format)
per_school_summary["Average Reading Score"] = per_school_summary["Average Reading Score"].map("{:.2f}".format)
per_school_summary["% Passing Math"] = per_school_summary["% Passing Math"].map("{:.2f}%".format)
per_school_summary["% Passing Reading"] = per_school_summary["% Passing Reading"].map("{:.2f}%".format)
per_school_summary["% Overall Passing"] = per_school_summary["% Overall Passing"].map("{:.2f}%".format)

per_school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,District,"4,976","$3,124,928.00",$628.00,77.05,81.03,66.68%,81.93%,52.91%
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.06,83.98,94.13%,97.04%,88.21%
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.71,81.16,65.99%,80.74%,51.61%
Ford High School,District,"2,739","$1,763,916.00",$644.00,77.10,80.75,68.31%,79.30%,53.16%
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.35,83.82,93.39%,97.14%,87.19%
Hernandez High School,District,"4,635","$3,022,020.00",$652.00,77.29,80.93,66.75%,80.86%,51.80%
Holden High School,Charter,427,"$248,087.00",$581.00,83.80,83.81,92.51%,96.25%,85.95%
Huang High School,District,"2,917","$1,910,635.00",$655.00,76.63,81.18,65.68%,81.32%,51.83%
Johnson High School,District,"4,761","$3,094,650.00",$650.00,77.07,80.97,66.06%,81.22%,51.56%
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,94.59%,95.95%,87.42%
Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.84,80.74,66.37%,80.22%,51.21%
Shelton High School,Charter,"1,761","$1,056,600.00",$600.00,83.36,83.73,93.87%,95.85%,86.71%
Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.42,83.85,93.27%,97.31%,87.09%
Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.27,83.99,93.87%,96.54%,87.56%
Wright High School,Charter,"1,800","$1,049,400.00",$583.00,83.68,83.95,93.33%,96.61%,87.28%

## Highest-Performing Schools (by % Overall Passing)

In [70]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
topSchoolsDF = per_school_summary.sort_values(["% Overall Passing"], ascending=False)
topSchoolsDF.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.06,83.98,94.13%,97.04%,88.21%
Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.27,83.99,93.87%,96.54%,87.56%
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,94.59%,95.95%,87.42%
Wright High School,Charter,"1,800","$1,049,400.00",$583.00,83.68,83.95,93.33%,96.61%,87.28%
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.35,83.82,93.39%,97.14%,87.19%

## Bottom Performing Schools (By % Overall Passing)

In [71]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
bottom_schoolsDF = per_school_summary.sort_values(["% Overall Passing"])
bottom_schoolsDF.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.84,80.74,66.37%,80.22%,51.21%
Johnson High School,District,"4,761","$3,094,650.00",$650.00,77.07,80.97,66.06%,81.22%,51.56%
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.71,81.16,65.99%,80.74%,51.61%
Hernandez High School,District,"4,635","$3,022,020.00",$652.00,77.29,80.93,66.75%,80.86%,51.80%
Huang High School,District,"2,917","$1,910,635.00",$655.00,76.63,81.18,65.68%,81.32%,51.83%

## Math Scores by Grade

In [72]:
ninthGradersDF = school_data_complete[school_data_complete["grade"] == "9th"]
ninthGraderMathScoresDF = ninthGradersDF.groupby(["school_name"])["math_score"].mean()
tenthGradersDF = school_data_complete[school_data_complete["grade"] == "10th"]
tenthGraderMathScoresDF = tenthGradersDF.groupby(["school_name"])["math_score"].mean()
eleventhGradersDF = school_data_complete[school_data_complete["grade"] == "11th"]
eleventhGraderMathScoresDF = eleventhGradersDF.groupby(["school_name"])["math_score"].mean()
twelfthGradersDF = school_data_complete[school_data_complete["grade"] == "12th"]
twelfthGraderMathScoresDF = twelfthGradersDF.groupby(["school_name"])["math_score"].mean()

In [73]:
mathScoresByGradeDF = pd.DataFrame(
    {
        "9th": ninthGraderMathScoresDF,
        "10th": tenthGraderMathScoresDF,
        "11th": eleventhGraderMathScoresDF,
        "12th": twelfthGraderMathScoresDF

    }

)

mathScoresByGradeDF["9th"] = mathScoresByGradeDF["9th"].map("{:.2f}".format)
mathScoresByGradeDF["10th"] = mathScoresByGradeDF["10th"].map("{:.2f}".format)
mathScoresByGradeDF["11th"] = mathScoresByGradeDF["11th"].map("{:.2f}".format)
mathScoresByGradeDF["12th"] = mathScoresByGradeDF["12th"].map("{:.2f}".format)
mathScoresByGradeDF.index.name = None
mathScoresByGradeDF

                         9th   10th   11th   12th
Bailey High School     77.08  77.00  77.52  76.49
Cabrera High School    83.09  83.15  82.77  83.28
Figueroa High School   76.40  76.54  76.88  77.15
Ford High School       77.36  77.67  76.92  76.18
Griffin High School    82.04  84.23  83.84  83.36
Hernandez High School  77.44  77.34  77.14  77.19
Holden High School     83.79  83.43  85.00  82.86
Huang High School      77.03  75.91  76.45  77.23
Johnson High School    77.19  76.69  77.49  76.86
Pena High School       83.63  83.37  84.33  84.12
Rodriguez High School  76.86  76.61  76.40  77.69
Shelton High School    83.42  82.92  83.38  83.78
Thomas High School     83.59  83.09  83.50  83.50
Wilson High School     83.09  83.72  83.20  83.04
Wright High School     83.26  84.01  83.84  83.64

## Reading Score by Grade

In [74]:
ninthGradersDF = school_data_complete[school_data_complete["grade"] == "9th"]
ninthGraderReadingScoresDF = ninthGradersDF.groupby(["school_name"])["reading_score"].mean()
tenthGradersDF = school_data_complete[school_data_complete["grade"] == "10th"]
tenthGraderReadingScoresDF = tenthGradersDF.groupby(["school_name"])["reading_score"].mean()
eleventhGradersDF = school_data_complete[school_data_complete["grade"] == "11th"]
eleventhGraderReadingScoresDF = eleventhGradersDF.groupby(["school_name"])["reading_score"].mean()
twelfthGradersDF = school_data_complete[school_data_complete["grade"] == "12th"]
twelfthGraderReadingScoresDF = twelfthGradersDF.groupby(["school_name"])["reading_score"].mean()

In [75]:
ReadingByGradeDF = pd.DataFrame(
    {
        "9th": ninthGraderReadingScoresDF,
        "10th": tenthGraderReadingScoresDF,
        "11th": eleventhGraderReadingScoresDF,
        "12th": twelfthGraderReadingScoresDF

    }

)

ReadingByGradeDF["9th"] = ReadingByGradeDF["9th"].map("{:.2f}".format)
ReadingByGradeDF["10th"] = ReadingByGradeDF["10th"].map("{:.2f}".format)
ReadingByGradeDF["11th"] = ReadingByGradeDF["11th"].map("{:.2f}".format)
ReadingByGradeDF["12th"] = ReadingByGradeDF["12th"].map("{:.2f}".format)
ReadingByGradeDF.index.name = None
ReadingByGradeDF

                         9th   10th   11th   12th
Bailey High School     81.30  80.91  80.95  80.91
Cabrera High School    83.68  84.25  83.79  84.29
Figueroa High School   81.20  81.41  80.64  81.38
Ford High School       80.63  81.26  80.40  80.66
Griffin High School    83.37  83.71  84.29  84.01
Hernandez High School  80.87  80.66  81.40  80.86
Holden High School     83.68  83.32  83.82  84.70
Huang High School      81.29  81.51  81.42  80.31
Johnson High School    81.26  80.77  80.62  81.23
Pena High School       83.81  83.61  84.34  84.59
Rodriguez High School  80.99  80.63  80.86  80.38
Shelton High School    84.12  83.44  84.37  82.78
Thomas High School     83.73  84.25  83.59  83.83
Wilson High School     83.94  84.02  83.76  84.32
Wright High School     83.83  83.81  84.16  84.07

## Scores by School Spending

In [76]:
per_school_summary.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,District,"4,976","$3,124,928.00",$628.00,77.05,81.03,66.68%,81.93%,52.91%
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.06,83.98,94.13%,97.04%,88.21%
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.71,81.16,65.99%,80.74%,51.61%
Ford High School,District,"2,739","$1,763,916.00",$644.00,77.10,80.75,68.31%,79.30%,53.16%
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.35,83.82,93.39%,97.14%,87.19%

In [77]:
#display max and min per Student Budget
print(per_school_summary["Per Student Budget"].max())
print(per_school_summary["Per Student Budget"].min())

$655.00
$578.00

In [78]:
# Establish the bins
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [79]:
# Create a copy of the school summary for later aggregations
school_spending_df = per_school_summary.copy()
school_spending_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,District,"4,976","$3,124,928.00",$628.00,77.05,81.03,66.68%,81.93%,52.91%
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.06,83.98,94.13%,97.04%,88.21%
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.71,81.16,65.99%,80.74%,51.61%
Ford High School,District,"2,739","$1,763,916.00",$644.00,77.10,80.75,68.31%,79.30%,53.16%
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.35,83.82,93.39%,97.14%,87.19%
Hernandez High School,District,"4,635","$3,022,020.00",$652.00,77.29,80.93,66.75%,80.86%,51.80%
Holden High School,Charter,427,"$248,087.00",$581.00,83.80,83.81,92.51%,96.25%,85.95%
Huang High School,District,"2,917","$1,910,635.00",$655.00,76.63,81.18,65.68%,81.32%,51.83%
Johnson High School,District,"4,761","$3,094,650.00",$650.00,77.07,80.97,66.06%,81.22%,51.56%
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,94.59%,95.95%,87.42%
Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.84,80.74,66.37%,80.22%,51.21%
Shelton High School,Charter,"1,761","$1,056,600.00",$600.00,83.36,83.73,93.87%,95.85%,86.71%
Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.42,83.85,93.27%,97.31%,87.09%
Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.27,83.99,93.87%,96.54%,87.56%
Wright High School,Charter,"1,800","$1,049,400.00",$583.00,83.68,83.95,93.33%,96.61%,87.28%

In [80]:
# Use `pd.cut` on the per_school_capita Series from earlier to categorize per student spending based on the bins.
school_spending_df["Spending Ranges (Per Student)"] = pd.cut(perSchoolCapita, spending_bins, labels = labels)

# Convert Spending Ranges (Per Student) to a string
#school_spending_df["Spending Ranges (Per Student)"] = school_spending_df["Spending Ranges (Per Student)"].astype(str)
school_spending_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per Student)
school_name,,,,,,,,,,
Bailey High School,District,"4,976","$3,124,928.00",$628.00,77.05,81.03,66.68%,81.93%,52.91%,$585-630
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.06,83.98,94.13%,97.04%,88.21%,<$585
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.71,81.16,65.99%,80.74%,51.61%,$630-645
Ford High School,District,"2,739","$1,763,916.00",$644.00,77.10,80.75,68.31%,79.30%,53.16%,$630-645
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.35,83.82,93.39%,97.14%,87.19%,$585-630
Hernandez High School,District,"4,635","$3,022,020.00",$652.00,77.29,80.93,66.75%,80.86%,51.80%,$645-680
Holden High School,Charter,427,"$248,087.00",$581.00,83.80,83.81,92.51%,96.25%,85.95%,<$585
Huang High School,District,"2,917","$1,910,635.00",$655.00,76.63,81.18,65.68%,81.32%,51.83%,$645-680
Johnson High School,District,"4,761","$3,094,650.00",$650.00,77.07,80.97,66.06%,81.22%,51.56%,$645-680
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,94.59%,95.95%,87.42%,$585-630
Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.84,80.74,66.37%,80.22%,51.21%,$630-645
Shelton High School,Charter,"1,761","$1,056,600.00",$600.00,83.36,83.73,93.87%,95.85%,86.71%,$585-630
Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.42,83.85,93.27%,97.31%,87.09%,$630-645
Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.27,83.99,93.87%,96.54%,87.56%,<$585
Wright High School,Charter,"1,800","$1,049,400.00",$583.00,83.68,83.95,93.33%,96.61%,87.28%,<$585

In [99]:
school_spending_df["Average Math Score"] = school_spending_df["Average Math Score"].astype(float)
school_spending_df["Average Reading Score"] = school_spending_df["Average Reading Score"].astype(float)
school_spending_df["% Passing Math"] = school_spending_df["% Passing Math"].astype(str).str.replace("%", "").astype(float)
school_spending_df["% Passing Reading"] = school_spending_df["% Passing Reading"].astype(str).str.replace("%", "").astype(float)
school_spending_df["% Overall Passing"] = school_spending_df["% Overall Passing"].astype(str).str.replace("%", "").astype(float)
school_spending_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per Student)
school_name,,,,,,,,,,
Bailey High School,District,"4,976","$3,124,928.00",$628.00,77.05,81.03,66.68,81.93,52.91,$585-630
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.06,83.98,94.13,97.04,88.21,<$585
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.71,81.16,65.99,80.74,51.61,$630-645
Ford High School,District,"2,739","$1,763,916.00",$644.00,77.10,80.75,68.31,79.30,53.16,$630-645
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.35,83.82,93.39,97.14,87.19,$585-630
Hernandez High School,District,"4,635","$3,022,020.00",$652.00,77.29,80.93,66.75,80.86,51.80,$645-680
Holden High School,Charter,427,"$248,087.00",$581.00,83.80,83.81,92.51,96.25,85.95,<$585
Huang High School,District,"2,917","$1,910,635.00",$655.00,76.63,81.18,65.68,81.32,51.83,$645-680
Johnson High School,District,"4,761","$3,094,650.00",$650.00,77.07,80.97,66.06,81.22,51.56,$645-680
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,94.59,95.95,87.42,$585-630
Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.84,80.74,66.37,80.22,51.21,$630-645
Shelton High School,Charter,"1,761","$1,056,600.00",$600.00,83.36,83.73,93.87,95.85,86.71,$585-630
Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.42,83.85,93.27,97.31,87.09,$630-645
Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.27,83.99,93.87,96.54,87.56,<$585
Wright High School,Charter,"1,800","$1,049,400.00",$583.00,83.68,83.95,93.33,96.61,87.28,<$585

In [112]:
#  Calculate averages for the desired columns.
spendingGroupDF= school_spending_df.groupby(["Spending Ranges (Per Student)"])

spendingMathSeries = spendingGroupDF["Average Math Score"].mean()
spendingReadingSeries = spendingGroupDF["Average Reading Score"].mean()
spendingPassMathSeries = spendingGroupDF["% Passing Math"].mean()
spendingPassReadingSeries = spendingGroupDF["% Passing Reading"].mean()
spendingPassingSeries = spendingGroupDF["% Overall Passing"].mean()

C:\Users\User\AppData\Local\Temp\ipykernel_10036\3207400321.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  spendingGroupDF= school_spending_df.groupby(["Spending Ranges (Per Student)"])

In [113]:
# Assemble into DataFrame
spending_summaryDF= pd.DataFrame (
    {
        "Average Math Score": spendingMathSeries,
        "Average Reading Score": spendingReadingSeries,
        "% Passing Math": spendingPassMathSeries,
        "% Passing Reading": spendingPassReadingSeries,
        "% Overall Passing": spendingPassingSeres
    }        
)

spending_summaryDF["Average Math Score"] = spending_summaryDF["Average Math Score"].map("{:.2f}".format)
spending_summaryDF["Average Reading Score"] = spending_summaryDF["Average Reading Score"].map("{:.2f}".format)
spending_summaryDF["% Passing Math"] = spending_summaryDF["% Passing Math"].map("{:.2f}%".format)
spending_summaryDF["% Passing Reading"] = spending_summaryDF["% Passing Reading"].map("{:.2f}%".format)
spending_summaryDF["% Overall Passing"] = spending_summaryDF["% Overall Passing"].map("{:.2f}%".format)
# Display results
spending_summaryDF

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$585,83.45,83.93,93.46%,96.61%,87.25%
$585-630,81.90,83.16,87.13%,92.72%,78.56%
$630-645,78.52,81.62,73.48%,84.39%,60.77%
$645-680,77.00,81.03,66.16%,81.13%,51.73%

## Scores by School Size

In [114]:
schoolspendingDf2 = school_spending_df.copy()
schoolspendingDf2

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per Student)
school_name,,,,,,,,,,
Bailey High School,District,"4,976","$3,124,928.00",$628.00,77.05,81.03,66.68,81.93,52.91,$585-630
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.06,83.98,94.13,97.04,88.21,<$585
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.71,81.16,65.99,80.74,51.61,$630-645
Ford High School,District,"2,739","$1,763,916.00",$644.00,77.10,80.75,68.31,79.30,53.16,$630-645
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.35,83.82,93.39,97.14,87.19,$585-630
Hernandez High School,District,"4,635","$3,022,020.00",$652.00,77.29,80.93,66.75,80.86,51.80,$645-680
Holden High School,Charter,427,"$248,087.00",$581.00,83.80,83.81,92.51,96.25,85.95,<$585
Huang High School,District,"2,917","$1,910,635.00",$655.00,76.63,81.18,65.68,81.32,51.83,$645-680
Johnson High School,District,"4,761","$3,094,650.00",$650.00,77.07,80.97,66.06,81.22,51.56,$645-680
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,94.59,95.95,87.42,$585-630
Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.84,80.74,66.37,80.22,51.21,$630-645
Shelton High School,Charter,"1,761","$1,056,600.00",$600.00,83.36,83.73,93.87,95.85,86.71,$585-630
Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.42,83.85,93.27,97.31,87.09,$630-645
Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.27,83.99,93.87,96.54,87.56,<$585
Wright High School,Charter,"1,800","$1,049,400.00",$583.00,83.68,83.95,93.33,96.61,87.28,<$585

In [115]:
schoolspendingDf2["Total Students"] = school_spending_df["Total Students"].str.replace(",", "").astype(int)
schoolspendingDf2

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per Student)
school_name,,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.05,81.03,66.68,81.93,52.91,$585-630
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.06,83.98,94.13,97.04,88.21,<$585
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.71,81.16,65.99,80.74,51.61,$630-645
Ford High School,District,2739,"$1,763,916.00",$644.00,77.10,80.75,68.31,79.30,53.16,$630-645
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.35,83.82,93.39,97.14,87.19,$585-630
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.29,80.93,66.75,80.86,51.80,$645-680
Holden High School,Charter,427,"$248,087.00",$581.00,83.80,83.81,92.51,96.25,85.95,<$585
Huang High School,District,2917,"$1,910,635.00",$655.00,76.63,81.18,65.68,81.32,51.83,$645-680
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.07,80.97,66.06,81.22,51.56,$645-680
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,94.59,95.95,87.42,$585-630
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.84,80.74,66.37,80.22,51.21,$630-645
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.36,83.73,93.87,95.85,86.71,$585-630
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.42,83.85,93.27,97.31,87.09,$630-645
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.27,83.99,93.87,96.54,87.56,<$585
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.68,83.95,93.33,96.61,87.28,<$585

In [116]:
# Establish the bins.
schoolbins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [117]:
# Create a copy of the school summary for later aggregations
school_size_df = per_school_summary.copy()

In [119]:
# Use `pd.cut` on the per_school_counts Series from earlier to categorize school size based on the bins.
schoolspendingDf2["School Size"] = pd.cut(schoolspendingDf2["Total Students"], schoolbins, labels = labels)
schoolspendingDf2

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per Student),School Size
school_name,,,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.05,81.03,66.68,81.93,52.91,$585-630,Large (2000-5000)
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.06,83.98,94.13,97.04,88.21,<$585,Medium (1000-2000)
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.71,81.16,65.99,80.74,51.61,$630-645,Large (2000-5000)
Ford High School,District,2739,"$1,763,916.00",$644.00,77.10,80.75,68.31,79.30,53.16,$630-645,Large (2000-5000)
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.35,83.82,93.39,97.14,87.19,$585-630,Medium (1000-2000)
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.29,80.93,66.75,80.86,51.80,$645-680,Large (2000-5000)
Holden High School,Charter,427,"$248,087.00",$581.00,83.80,83.81,92.51,96.25,85.95,<$585,Small (<1000)
Huang High School,District,2917,"$1,910,635.00",$655.00,76.63,81.18,65.68,81.32,51.83,$645-680,Large (2000-5000)
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.07,80.97,66.06,81.22,51.56,$645-680,Large (2000-5000)
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,94.59,95.95,87.42,$585-630,Small (<1000)
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.84,80.74,66.37,80.22,51.21,$630-645,Large (2000-5000)
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.36,83.73,93.87,95.85,86.71,$585-630,Medium (1000-2000)
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.42,83.85,93.27,97.31,87.09,$630-645,Medium (1000-2000)
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.27,83.99,93.87,96.54,87.56,<$585,Large (2000-5000)
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.68,83.95,93.33,96.61,87.28,<$585,Medium (1000-2000)

In [142]:
sizesGroupedDF = schoolspendingDf2.groupby("School Size")
sizesGroupeddf = sizeGroupedDF.mean("School Size")
sizesGroupedDF

C:\Users\User\AppData\Local\Temp\ipykernel_10036\761922339.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  sizesGroupedDF = schoolspendingDf2.groupby("School Size")

In [150]:
# Calculate averages for the desired columns.
sizesGroupedDF= schoolspendingDf2.groupby("School Size")
sizesGroupedDF = sizesGroupedDF.mean("School Size")
sizesGroupedDF = sizesGroupedDF[["Average Math Score", "Average Reading Score","% Passing Math",
                                "% Passing Reading","% Overall Passing"]]


sizesGroupedDF["Average Math Score"]  = sizesGroupedDF["Average Math Score"] = sizesGroupedDF["Average Math Score"].map("{:.2f}".format)
sizesGroupedDF["Average Reading Score"] = sizesGroupedDF["Average Reading Score"] = sizesGroupedDF["Average Reading Score"].map("{:.2f}".format)
sizesGroupedDF["% Passing Math"] = sizesGroupedDF["% Passing Math"] = sizesGroupedDF["% Passing Math"].map("{:.2f}%".format)
sizesGroupedDF["% Passing Reading"] = sizesGroupedDF["% Passing Reading"] = sizesGroupedDF["% Passing Reading"].map("{:.2f}%".format)
sizesGroupedDF["% Overall Passing"] = sizesGroupedDF["% Overall Passing"] = sizesGroupedDF["% Overall Passing"].map("{:.2f}%".format)

sizesGroupedDF

C:\Users\User\AppData\Local\Temp\ipykernel_10036\1814137991.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  sizesGroupedDF= schoolspendingDf2.groupby("School Size")

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),83.82,83.93,93.55%,96.10%,86.69%
Medium (1000-2000),83.37,83.87,93.60%,96.79%,87.30%
Large (2000-5000),77.75,81.34,69.96%,82.77%,56.45%

## Scores by School Type

In [153]:
schoolTypeGroupedDF= schoolspendingDf2.groupby("School Type")
schoolTypeGroupedDF = schoolTypeGroupedDF.mean("School Type")

schoolTypeGroupedDF = schoolTypeGroupedDF[["Average Math Score", "Average Reading Score","% Passing Math",
                                "% Passing Reading","% Overall Passing"]]


schoolTypeGroupedDF["Average Math Score"]  = schoolTypeGroupedDF["Average Math Score"] = schoolTypeGroupedDF["Average Math Score"].map("{:.2f}".format)
schoolTypeGroupedDF["Average Reading Score"] = schoolTypeGroupedDF["Average Reading Score"] = schoolTypeGroupedDF["Average Reading Score"].map("{:.2f}".format)
schoolTypeGroupedDF["% Passing Math"] = schoolTypeGroupedDF["% Passing Math"] = schoolTypeGroupedDF["% Passing Math"].map("{:.2f}%".format)
schoolTypeGroupedDF["% Passing Reading"] = schoolTypeGroupedDF["% Passing Reading"] = schoolTypeGroupedDF["% Passing Reading"].map("{:.2f}%".format)
schoolTypeGroupedDF["% Overall Passing"] = schoolTypeGroupedDF["% Overall Passing"] = schoolTypeGroupedDF["% Overall Passing"].map("{:.2f}%".format)




schoolTypeGroupedDF

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,83.47,83.90,93.62%,96.59%,87.18%
District,76.96,80.97,66.55%,80.80%,52.01%

In [ ]:
# Assemble the new data by type into a DataFrame called `type_summary`
type_summary =

# Display results
type_summary

In [ ]:
#Analysis

#Charter Schools outperformed district schools in terms of average math and reading, as well as students who passed math and reading.